<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matchen</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
</head>
<body>
    <h1>Welkom
    </h1>
    <fieldset>
        <legend>Log in bij je bestaande account</legend>
        <label for="email">E-mail</label>
        <input type="text" placeholder="Jouw e-mailadres">
        <label for="wachtwoord">wachtwoord</label>
        <input type="text" placeholder="Jouw wachtwoord">
        <a href="">wachtwoord vergeten?</a>
        <button type="submit">Log in</button>
    </fieldset>
    <h2>Nog geen account?</h2>
    <a href="">Registreren</a>
</body>
</html>