<!DOCTYPE html>
<html lang="nl">
    <%- include('partials/head.ejs') %>
    <title>index</title>
<body>
    <%- include('partials/header.ejs') %>
    <form method="POST" action="/logInData">
        <legend>Log in to your existing account</legend>
        <fieldset>
        <label for="email">E-mail</label>
        <input type="text" placeholder="your e-mail adress" name="email" required>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input type="password" placeholder="your password" name="password" required>
    </fieldset>
    <input type="submit" value="log in">
    </form>
    <h2>Haven't got an account yet?</h2>
    <a href="/register">Register</a>
</body>
</html>

