<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matchen</title>
    <link href= "/public/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Welkom!</h1>
    <% for(var i=0; i < profiles.length; i++) { %>
        <li class="profile">
            <div class="overlay-blur add-blur">
                <img class="the-profile" src="/assets/images/overlay.png" alt="overlay filter">
            </div>
            <img src="/assets/images/stock-photo-1.jpg" alt="photo">
            <article class="profile-info">
                <h1 class="space"><%= profiles[i].profileName %></h1>
                <h2 class="space"><%= profiles[i].profileAge %></h2>
                <h2 class="space"><%=profiles[i].profileCity %></h2>
                <p class="discription"> <%= profiles [i].profileDiscription%> </p>
            </article>
            <!-- <input type="button" value=" Questions" class="button"> -->
            <a href="quest-1" class="button">
                Questions
            </a>
        </li>
        <% } %>
    <script src="/public/app.js"></script>
</body>
</html>