<!DOCTYPE html>
<html lang="nl">
    <%- include('partials/head.ejs') %>
    <title>index</title>
<body>
    <%- include('partials/header.ejs') %>
    <form method="POST" action="/logInData">
        <legend>Make a profile</legend>
        <fieldset>
        <label for="fName">First name</label>
        <input type="text" placeholder="your first name" name="fName" required>
    </fieldset>
    <fieldset>
        <label for="lName">Last name</label>
        <input type="text" placeholder="your last name" name="lName" required>
    </fieldset>
    <fieldset>
        <label for="age">Age</label>
        <input type="text" placeholder="your age" name="age" required>
    </fieldset>
    <fieldset>
        <label for="residence">Residence</label>
        <input type="text" placeholder="your city/town" name="residence" required>
    </fieldset>
    <input type="submit" value="make account">
    </form>
</body>
</html>